@import shared.DomTypes.HtmlId
@import shared.AuthIds.*

@(googleClientId: String)(implicit msgs: MessagesProvider)
@gM(name: String) = @{ msgs.messages(name) }
@gMP(name: String) = @{ msgs.messages("auth."+name) }
@oninput() = @{ Html(s""" oninput="window.appEvent(this, event); false" """) }
@onclick() = @{ Html(s""" onclick="window.appEvent(this, event); false" """) }
@id(name: HtmlId) = @{ Html(s""" id='${name.id}' """ ) }

<div @id(LoginContentId) class="d-none row justify-content-sm-center h-100">
    <div class="mt-4 col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-sm-9">
        <div class="mt-4 card shadow-lg">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <img src="/versionedAssets/images/logo.png" alt="logo" height="40">
                </div>
                <div>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
            </div>
            <div class="card-body p-5">
                <div id="AuthSuccessAlert" class="alert alert-success d-none mb-4" role="alert">
                    <i class="bi bi-check-circle-fill me-2"></i>Anmeldung erfolgreich! Sie werden in Kürze weitergeleitet...
                </div>
                <div class="mb-3">
                    <label class="mb-2 text-muted" for="email">@gMP("emailAddress")</label>
                    <input @id(EmailId) type="email" class="form-control" name="email" value="" @oninput() required autofocus>
                    <div class="invalid-feedback">@gMP("invalid.email")</div>
                </div>
                <div class="mb-3">
                    <div class="mb-2 w-100">
                        <label class="text-muted" for="password">@gMP("password")</label>
                        <a @id(DoForgotId) href='#' @onclick() class="float-end">@gMP("forgotPassword")</a>
                    </div>
                    <input @id(PasswordId) type="password" class="form-control" name="password" @oninput() required>
                    <div class="invalid-feedback">@gMP("invalid.password")</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="mr-1">
                        <button @id(DoLoginId) type="submit" class="btn btn-sm btn-outline-secondary" @onclick()>
                           @gM("btn.login")
                        </button>
                    </div>
                    <div>
                        <div id="g_id_onload"
                            data-client_id=@googleClientId 
                            data-context="signin" data-ux_mode="popup" data-callback="handleCredentialResponse"
                            data-auto_prompt="false">
                        </div>
                        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
                            data-text="signin_with" data-size="medium" data-logo_alignment="left">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer py-3 border-0">
                <div class="text-center">                
                    @gMP("noAccount") <a @id(DoRegisterId) @onclick() >@gMP("createOne")</a>
                </div>
            </div>
        </div>
    </div>
</div>