@import play.filters.csrf._
@import shared.DomTypes.HtmlId
@import shared.MainIds.*

@(page: String, param: String, debug: String = "", tourney: String = "")(implicit request: RequestHeader, msgs: MessagesProvider)
@gM(name: String) = @{ msgs.messages("main."+name) }
@id(name: HtmlId) = @{ Html(s""" id='${name.id}' """ ) }

<!DOCTYPE html>
<html lang='@gM("lang")'>
  <head>
    <title>@gM("title")</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='@gM("description")'>
    <meta name="keywords" content='@gM("keywords")'>
    <meta name="author" content='@gM("author")'>

    <link rel="stylesheet" href='@routes.Assets.at("bootstrap-5.3.3/css/bootstrap.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("bootstrap-icons-1.11.3/font/bootstrap-icons.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("css/main.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
  
  </head>

  <body>
    <span @id(NavbarId)></span>

    <div class="d-flex">
        <!-- Sidebar (aside) -->
        <span @id(SidebarId)></span>

        <!-- Hauptinhalt -->
        <div class="content">
            @auth("782737132657-vs1domdevjcm9fv5sfg32lp30dd7oc7d.apps.googleusercontent.com")
            <div @id(JScriptId) class="d-none d-flex flex-column p-2 mb-2 mt-2 border border-danger">
                <h4>@gM("title") - Version: @gM("version")</h4>
                <h6>@gM("javascript")</h6>
            </div>

            <div @id(ContentId) class="row">         
                <div class="d-flex mt-2 mr-2 justify-content-center border border-secondary">Main Content</div>
            </div>
        </div>
    </div>

    <span @id(FooterId)></span>

    <span @id(ParamId) data-page='@page' data-param='@param' data-csrf='@CSRF.getToken(request).map(t=>t.value).getOrElse("")'></span>  

    <!-- Google Sign In -->
    <script src="https://accounts.google.com/gsi/client"></script>
    <!-- Bootstrap JS bundle with poppers -->
    <script src='@routes.Assets.at("bootstrap-5.3.3/js/bootstrap.bundle.min.js")'></script>
    <script type="module">
      import { startApp } from '@routes.Assets.versioned("client-fastopt/main.js")';
      startApp('001DE1970-01', 'play', 'debug', '@debug', '@tourney');
    </script>
    
  </body>
</html>
