.classpath
.project
.settings
.DS_Store
.bloop
.bsp
.metals
.history
.vscode
GEMINI.md

prompts
doc
test
project/project
project/target
project/metals.sbt
target

client/vite
client/vite/public
client/vite/main.js
client/vite/main.map

server/target
server/conf/messages.de
server/conf/messages.en
server/conf/messages.de_json
server/conf/messages.en_json
server/public/bootstrap-5.0.2
server/public/fontawesome-6.5.1
server/public/bootstrap-5.3.3
server/public/bootstrap-icons-1.11.3
server/public/data

# Ignore all content in server/wpdata initially
server/docker/dev/.env
server/docker/dev/logs
server/docker/dev/wp_data
server/docker/dev/db_data
server/docker/dev/playsrv/server*
server/docker/dev/playsrv/stage/
server/docker/dev/registry/
server/docker/dev/wordpress/
server/docker/dev/certs/
server/docker/dev/backups/

server/docker/prod/.env
server/docker/prod/logs
server/docker/prod/wp_data
server/docker/prod/db_data
server/docker/prod/playsrv/stage
server/docker/prod/certs
server/docker/prod/backups
server/docker/prod/registry
server/docker/shuttle/

server/env/dev.env
server/env/prod.env


wp-plugin/data
wp-plugin/font
wp-plugin/js
wp-plugin/composer.json
wp-plugin/composer.lock
wp-plugin/vendor
wp-plugin/pages/
wp-plugin/img/shop.png
wp-plugin/img/shop_fun.png
wp-plugin/pages/
wp-plugin/download/

site/download/
site/payhip/img/


# hidden cross project folders
shared/.js
shared/.jvm

# temp files
*.zip
.~*
*~
*.orig
