logs
help
doc
project/project
project/target
project/metals.sbt
target
Procfile

dist

.classpath
.project
.settings
.DS_Store
.bloop
.bsp
.metals
.history
.vscode

server/target/
server/env/
server/data/postgres/db
server/data/mysql/db
server/public/bootstrap-5.0.2
server/public/sbAdmin-7.0.7
server/public/fontawesome-6.5.1
server/public/logs
server/public/bootstrap-5.2.3/
server/public/fontawesome-free-6.6.0-web/


# hidden cross project folders
shared/.js
shared/.jvm

# temp files
.~*
*~
*.orig

# eclipse
.scala_dependencies
.buildpath
.cache
.target

