/* Zielgenaues Ansprechen des Content-Bereichs */
.entry-content {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

/* Falls du den Header auch beeinflussen willst */
.wp-block-template-part.header {
    margin-bottom: 0 !important;
}

/* Bildschirm-Ansicht: Server-Inhalt ausblenden, App anzeigen */
@media screen {
    .entry-content > *:not(#Main_AppWrapper):not(#Main_ParamId):not(#Main_NavbarId):not(#Main_ContextHeaderId):not(#Main_DynContentId) {
        display: none !important;
    }
}

/* Druck-Ansicht: App ausblenden, Original-Server-Inhalt anzeigen */
@media print {
    #Main_AppWrapper,
    #Main_NavbarId,
    #Main_ContextHeaderId,
    #Main_DynContentId,
    #Footer_ConsoleClickId {
        display: none !important;
    }

    .entry-content > *:not(#Main_AppWrapper):not(#Main_ParamId):not(#Main_NavbarId):not(#Main_ContextHeaderId):not(#Main_DynContentId) {
        display: block !important;
    }
}